{
	"semi": true,
	"useTabs": true,
	"endOfLine": "lf",
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["tv"]
}